/* Nav bar */
nav {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:first-child {
    margin-right: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

/* Main CSS */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 60px; /* Add space for the fixed navigation bar */
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drop-zone.dragover {
    background-color: #f0f0f0;
}

.not-logged-in-container{
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}

.loading-indicator {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Forms */
.form-container {
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}

.form-group {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.form-label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}